body {
  background-color: #FEFEE3;
  font-family: courier;
}
h1 {
  color: #2C6E49
}
.quote {
  width: 50%;
  color: #2C6E49;
}
.image {
  opacity: 0.75;
}
/* Don Draper "Nylons" quote between images */
#love {
  background-color: #FFC9B9;
}
#invented {
  background-color: #D68C45;
}
#nylons {
  background-color: #4C956C;
}
