.header {
  font-family: 'Baskerville', serif;

}

menu {
  margin: 0;
  padding: 0;
}

#navigation a {
  color: #B46D51;
  text-decoration: none;

}

#nav-links {
  margin: 0;
  padding: 0;
  display: inline-block;

}

#nav-links .nav-item {
  width: 4em;
  padding: .5em;
  display: inline-block;
  text-align: center;
}

#nav-links .nav-item:hover {
  background-color: #B46D51;
  color: #E6D9CB;
}


/*Dropdown Content*/

#nav-links .dropdown {
  display: inline-block;
  width: 4em;
  padding: .5em;
}
#nav-links .dropdown-content {
  display: none;
  position: absolute;

  background-color: #E6D9CB;
  color: #B46D51;
  z-index: 5;
}
#nav-links .dropdown-content a {
  background-color: #E6D9CB;
  color: #B46D51;

}
#nav-links .dropdown-content a:hover {
  background-color: #B46D51;
  color: #E6D9CB;
}
#nav-links .dropdown:hover .dropdown-content {
  display: block;
}
#nav-links .dropdown-item {
  min-width: 4em;
  padding: .5em;
  text-align: center;
  display: block;
}

/*Social Media Icons/Links*/

#social-links {
  padding: 1em;
  margin-top: 20px;
  display: inline-block;
  float: right;

}
#social-links .social-item {
  margin: 5px;

}
#social-links img {
  width: 30px;
  height: 30px;
  opacity: .75;
}
#social-links img:hover {
  opacity: 1;
}
